<div class="login-container">
  <div class="login-box">
    <div class="login-title">Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" style="width: 100%;">Login</button>
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">{{ errorMessage }}</div>
    </form>
  </div>
</div>
